<div class="device-toggle" ng-click="toggle()" ng-style="styles" ng-class="{'device-toggle-off': !ngModel._on && !ngModel.$loading && !ngModel.$error, 'device-toggle-on': ngModel._on && !ngModel.$loading && !ngModel.$error, 'device-toggle-loading': ngModel.$loading && !ngModel.$error, 'device-toggle-error': ngModel.$error, 'device-toggle-light': ngModel.$is('light')}">
<div class="device-toggle-button">
  <div class="device-toggle-spinner" ng-show="ngModel.$loading"><i class="glyphicon glyphicon-refresh"></i></div>
  <div class="device-toggle-label-error" ng-show="ngModel.$error"><i class="glyphicon glyphicon-minus-sign text-danger"></i></div>
  <div class="device-toggle-label" ng-hide="ngModel.$loading || ngModel.$error">{{label}}</div>
</div>
</div>