
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
      <h2>Settings / Synology
             <div class="pull-right pointer"  ui-sref="^.providers"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <uib-tabset active="active">
            <uib-tab index="0" heading="Settings">
              <div class="panel-body">

                <div class="form-group">
                  <label for="enabled">Enabled: </label>
                  <button class="btn btn-sm pull-right" ng-class="{'btn-success': !status.enabled, 'btn-danger': status.enabled, 'btn-muted': enabling}" ng-disabled="enabling" ng-click="toggle()">
                    <span ng-show="enabling && !status.enabled"><i class="icon-circleselection spin"></i> Enabling</span>
                    <span ng-show="enabling && status.enabled"><i class="icon-circleselection spin"></i> Disabling</span>
                    <span ng-show="!status.enabled && !enabling">Enable</span>
                    <span ng-show="status.enabled && !enabling">Disable</span>
                  </button>
                </div>

                <div class="form-group">
                  <label for="server">Server</label>
                  <input type="text" class="form-control" id="server" placeholder="Server" required="" ng-model="config.server">
                </div>

                <div class="form-group">
                  <label for="user">User</label>
                  <input type="text" class="form-control" id="user" placeholder="User" required="" ng-model="config.user">
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" required="" ng-model="config.password">
                </div>

                <div class="form-group">
                  <label for="enabled">Debug: </label>
                  <toggle value="config.debug" class="pull-right"></toggle>
                </div>

                <div class="form-group">
                  <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()"><i class="icon-savetodrive"></i> Save</button>
                </div>

              </div>
            </uib-tab>
            <uib-tab index="1" heading="Cameras">


                <p>
                </p>
                <p>
                  <div class="input-group">
                    <input type="text" class="form-control" id="name" placeholder="Search" ng-model="camera_search" autocomplete='off'>
                    <div class="input-group-addon"><i class="icon-search"></i></div>
                    <button class="btn btn-sm pull-right" ng-class="{'btn-success': !loading && !error, 'btn-danger': error, 'btn-muted': loading}" ng-disabled="loading" ng-click="refresh()">
                      <span ng-show="loading"><i class="icon-circleselection spin"></i></span>
                      <span ng-show="!loading"><i class="icon-refresh"></i></span>
                    </button>
                  </div>
                </p>
                <p>
                  <ul class="list-group">
                    <li class="list-group-item" ng-repeat="camera in status.cameras | orderBy: 'name' | filter: {'name': camera_search}">
                      <button class="btn btn-xs btn-default" ng-class="{'btn-danger': camera.recStatus > 0}"><i class="icon-videocamerathree"></i></button> {{camera.name}}
                      <div><small>{{camera.vendor}} {{camera.model}} ({{camera.host}})</small></div>
                    </li>
                  </ul>
                </p>

            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>
  </div>
</div>