
<div class="modal-body">
    <h3 class="text-center"><i class="icon-warning-sign text-warning"></i> Delete this link?</h3>
    <p>
        <small>If this is a battery operated device, hold the set button until linking mode has been entered.</small>
    </p>
    <div uib-alert class="alert-danger" ng-show="error">{{error.message}}</div>
</div>


<div class="modal-footer">
    <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()" ng-disabled="loading">Cancel</button>
    <button class="btn btn-sm" type="button" ng-click="confirm()" ng-disabled="loading" ng-class="{'btn-primary': loading, 'btn-danger': !loading}">
        <span ng-hide="loading"><i class="icon-trash"></i> Yes</span>
        <span ng-show="loading"><i class="icon-circleselection spin"></i> Deleting</span></button>
</div>
