
<div ng-controller="insteonEdit">
	<div class="form-group">
	  <label for="name">Name</label>
	  <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
	</div>

	<div ng-hide="has_capability('scene')">
		<div class="form-group">
		  <label for="address">Device Number</label>
		  <input type="text" class="form-control" id="address" placeholder="Address" required="" ng-model="device.config.address" readonly>
		</div>
	</div>

	<div ng-hide="has_capability('scene')">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-4">Device Cat</div>
				<div class="col-xs-4">Sub Cat</div>
				<div class="col-xs-4">Firmware</div>
			</div>
			<div class="row">
				<div class="col-xs-4">{{device.config.device_cat | toHex}}</div>
				<div class="col-xs-4">{{device.config.device_subcat | toHex}}</div>
				<div class="col-xs-4">{{device.config.firmware | toHex}}</div>
			</div>
		</div>
	</div>

	<div ng-show="has_capability('scene')">
		<div class="form-group">
		  <label for="name">Scene Number</label>
		  <input type="text" class="form-control" id="scene" placeholder="Scene" required="" ng-model="device.config.address">
		</div>
	</div>

	<div ng-hide="has_capability('scene')">
		<div class="form-group">
			<button class="btn btn-sm btn-primary" ng-click="beep()"><i class="icon-volume-down"></i> Beep</button>
			<button class="btn btn-sm btn-primary" ng-click="enterlinking()"><i class="icon-link"></i> Enter Linking</button>
			<button class="btn btn-sm btn-primary" ng-click="enterunlinking()"><i class="icon-brokenlink"></i> Enter Un-Linking</button>
			<button class="btn btn-sm btn-primary" ng-click="set_button_tap()"><i class="icon-radiobutton"></i> Set Button</button>
		</div>
	</div>


	<div>
		<div class="form-group">
		  <label for="name">Links</label>
	      <button class="pull-right btn btn-success btn-xs" ng-click="add_link()">
	      	<i class="icon-circleadd"></i> Add</button>
	      <button class="pull-right btn btn-xs" ng-class="{'btn-info': !loading && !error, 'btn-primary': loading, 'btn-danger': error}" ng-click="reload_database()" ng-disabled="loading">
	      	<i class="icon-refresh" ng-show="!loading && !error"></i>
	      	<i class="icon-circleselection spin" ng-show="loading"></i>
	      	<i class="icon-erroralt" ng-show="error"></i>
	      	Reload</button>
		  <ul class="list-group bg-muted select-list" style="height: 20em;">
		    <li class="list-group-item" style="cursor: pointer;" ng-repeat="record in device.config.database | orderBy: 'name'" ng-click="edit_link(record)" ng-show="record.used">
		      <button class="btn btn-xs btn-danger pull-right" ng-click="delete_link(record)" stop-event>
		      	<i class="icon-trash"></i>
		      </button>
		      <div>
		      	<i class="icon-uploadalt" ng-show="record.controller"></i>
		      	<i class="icon-download-alt" ng-show="!record.controller"></i>
				  {{record.name || record.address}}<span ng-show="record.name"> ({{record.address}})</span>
		      </div>
		      <div><small>
			      <span ng-show="!record.controller">
			      Level: {{record.on_level / 255 * 100 | number: 0}}% in {{record.ramp_rate | insteonRate}}
			      </span>
			      <span ng-show="record.controller">
			      Turn on <span ng-show="record.button > 1">button {{record.button}}</span>
			      </span>
			      <span ng-show="record.group > 1">
			      	with scene {{record.group}}
			      </span>
		      </small></div>
		    </li>
		   </ul>
		</div>
	</div>
</div>

<div class="form-group">
  <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="editDevice.$invalid"><i class="icon-savetodrive"></i> Save</button>
  <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
</div>
