<div class="statusbar text-muted">
  <div class="statusbar-nav">
    <app-status-item>
    <app-nav-toggle></app-nav-toggle>
    </app-status-item>
  </div>
  <div class="statusbar-icons">
    <app-status-issues></app-status-issues>
    <app-status-time class="d-none"></app-status-time>
    <app-status-date class="d-none"></app-status-date>
    <app-status-weather></app-status-weather>
    <app-status-network></app-status-network>
    <app-status-notifications></app-status-notifications>
    <app-status-settings></app-status-settings>
  </div>
</div>
