
<div ng-controller="insteonEdit">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" required="" ng-model="device.name">
  </div>

  <div ng-hide="has_capability('scene')">
    <div class="form-group">
      <label for="address">Device Number</label>
      <div class="input-group">
        <input type="text" class="form-control" id="address" placeholder="Address" required="" ng-model="device.config.address" ng-readonly="!editAddress">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="toggleAddress()"><i class="icon-edit"></i></button>
        </span>
      </div>
    </div>
  </div>

  <div ng-hide="has_capability('scene')">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">Device Cat</div>
        <div class="col-xs-4">Sub Cat</div>
        <div class="col-xs-4">Firmware</div>
      </div>
      <div class="row">
        <div class="col-xs-4">{{device.config.device_cat | toHex}}</div>
        <div class="col-xs-4">{{device.config.device_subcat | toHex}}</div>
        <div class="col-xs-4">{{device.config.firmware | toHex}}</div>
      </div>
    </div>
  </div>

  <div ng-show="has_capability('scene')">
    <div class="form-group">
      <label for="name">Scene Number</label>
      <div class="input-group">
        <input type="text" class="form-control" id="scene" placeholder="Scene" required="" ng-model="device.config.address" ng-readonly="!editAddress">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="toggleAddress()"><i class="icon-edit"></i></button>
        </span>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-sm btn-primary" ng-click="on()" ng-disabled="cmd_loading" ng-class="{'btn-danger': cmd_error}"><i class="icon-lighton"></i> On</button>
      <button class="btn btn-sm btn-primary" ng-click="off()" ng-disabled="cmd_loading" ng-class="{'btn-danger': cmd_error}"><i class="icon-lightoff"></i> Off</button>
    </div>
  </div>

  <div ng-hide="has_capability('scene')">
    <div class="form-group">
      <button class="btn btn-sm btn-primary" ng-click="beep()" ng-disabled="beep_loading" ng-class="{'btn-danger': beep_error}"><i class="icon-volume-down"></i> Beep</button>

      <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" class="btn btn-sm btn-primary"  ng-click="enterlinking()" ng-disabled="linking_loading" ng-class="{'btn-danger': linking_error}">Linking</button>
        <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="linking_loading" ng-class="{'btn-danger': linking_error}">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ng-repeat="n in [].constructor(8) track by $index"><a style="cursor: pointer" ng-click="enterlinking($index + 1)">Scene {{$index + 1}}</a></li>
        </ul>
      </div>

      <div class="btn-group" uib-dropdown>
        <button id="split-button" type="button" class="btn btn-sm btn-primary"  ng-click="enterunlinking()" ng-disabled="linking_loading" ng-class="{'btn-danger': linking_error}">Un-Linking</button>
        <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="linking_loading" ng-class="{'btn-danger': linking_error}">
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem" ng-repeat="n in [].constructor(8) track by $index"><a style="cursor: pointer" ng-click="enterunlinking($index + 1)">Scene {{$index + 1}}</a></li>
        </ul>
      </div>

      <button class="btn btn-sm btn-primary" ng-click="exitlinking()" ng-disabled="linking_loading" ng-class="{'btn-danger': linking_error}"><i class="icon-circlestopempty"></i> Stop Linking</button>
      <button class="btn btn-sm btn-primary" ng-class="{'btn-danger': id_error, 'btn-success': id_success}" ng-disabled="id_loading || id_success || id_error" ng-click="idrequest()">
        <i class="icon-circleselection spin" ng-show="id_loading"></i>
        <i class="icon-circleselect" ng-show="id_success"></i>
        <i class="icon-erroralt" ng-show="id_error"></i>

        <i class="icon-tagalt-pricealt" ng-hide="id_loading || id_success || id_error"></i> ID Request
      </button>
    </div>
    <insteon-modem-linking ng-model="linked" show-heading="true"></insteon-modem-linking>
  </div>


  <div ng-show="device.capabilities.indexOf('scene') !== -1">
    <insteon-scene-members ng-model="device" on-update="save()"></insteon-scene-members>
    <insteon-modem-linking ng-model="linked" show-heading="false" force-controller="true" force-group="device.config.address"></insteon-modem-linking>
  </div>
  <div ng-show="device.capabilities.indexOf('scene') === -1">
    <div class="form-group">
      <div class="clearfix">
        <label for="name">Links</label>
        <button class="pull-right btn btn-success btn-xs" ng-click="add_link()">
          <i class="icon-circleadd"></i> Add</button>
        <button class="pull-right btn btn-xs" ng-class="{'btn-info': !loading && !error, 'btn-primary': loading, 'btn-danger': error}" ng-click="reload_database()" ng-disabled="loading">
          <i class="icon-refresh" ng-show="!loading && !error"></i>
          <i class="icon-circleselection spin" ng-show="loading"></i>
          <i class="icon-erroralt" ng-show="error"></i>
          Reload</button>
        </div>
      <ul class="list-group bg-muted select-list" style="height: 20em;">
        <li class="list-group-item" style="cursor: pointer;" ng-repeat="record in device.config.database | orderBy: 'name'" ng-click="edit_link(record)" ng-show="record.used">
          <button class="btn btn-xs btn-danger pull-right" ng-click="delete_link(record)" stop-event>
            <i class="icon-trash"></i>
          </button>
          <div>
            <i class="icon-uploadalt" ng-show="record.controller"></i>
            <i class="icon-download-alt" ng-show="!record.controller"></i>
          {{record.name || record.address}}<span ng-show="record.name"> ({{record.address}})</span>
          </div>
          <div><small>
            <span ng-show="!record.controller">
            When scene {{record.group}}, use on level of {{record.on_level / 255 * 100 | number: 0}}% in {{record.ramp_rate | insteonRate}}<span ng-show="record.button > 1"> and button {{record.button}}</span>
            </span>
            <span ng-show="record.controller">
            Send scene {{record.group}} <span ng-show="record.button > 1">with button {{record.button}}</span>
            </span>
          </small></div>
        </li>
       </ul>
    </div>
  </div>
</div>

<div class="form-group">
  <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()" ng-disabled="editDevice.$invalid"><i class="icon-savetodrive"></i> Save</button>
  <button type="submit" class="btn btn-sm btn-default" ng-click="remove()"><i class="icon-circledelete"></i> Remove</button>
</div>
