
<div class="panel panel-default">
  <div class="panel-heading" ng-click="isCollapsed = !isCollapsed" ng-show="showHeading" style="cursor: pointer">
    <i class="glyphicon glyphicon-triangle-bottom" ng-show="!isCollapsed"></i>
    <i class="glyphicon glyphicon-triangle-right" ng-show="isCollapsed"></i>
    Insteon Modem Linking
  </div>
  <div class="panel-body" uib-collapse="isCollapsed">
    <div class="form-group">
      <label for="exampleInputEmail1">Link Type:</label>
      <label><input type="radio" ng-model="linking.controller" ng-value="true" ng-disabled="link_waiting"> Controller</label>
      <label><input type="radio" ng-model="linking.controller" ng-value="false" ng-disabled="link_waiting"> Responder</label>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Group:</label>
      <select class="form-control" ng-model="linking.group" ng-options="scene.id as scene.title for scene in scenes" ng-disabled="link_waiting"></select>
    </div>

    <button class="btn btn-sm btn-primary" ng-click="start_linking(linking.controller, linking.group)" ng-hide="link_waiting" ng-disabled="link_waiting || link_error" ng-class="{'btn-danger': link_error}">
      <i class="icon-link" ng-hide="link_waiting || link_error"></i>
      <i class="icon-circleselection spin" ng-show="link_waiting"></i>
      <i class="icon-erroralt" ng-show="link_error"></i>
        Start Linking
    </button>
    <button class="btn btn-sm btn-muted" ng-click="cancel_linking()" ng-show="link_waiting" ng-disabled="!link_waiting" ng-class="{'btn-warning': link_waiting}">
      <i class="icon-circleselection spin"></i>
      Cancel
    </button>
  </div>
</div>
