
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
    <h2>Settings / Insteon
           <div class="pull-right pointer"  ui-sref="^.providers"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
<!--

enabled = false
debug = false
modem_debug = false
serial_device = /dev/ttyUSB1

delay = 300
retries = 3

-->
        <div class="panel panel-default">
          <div class="panel-body">
            <uib-tabset active="active">
              <uib-tab index="0" heading="Settings">
                <div class="panel-body">

                  <div class="form-group">
                    <label for="enabled">Enabled: </label>
                    <button class="btn btn-sm pull-right" ng-class="{'btn-success': !status.enabled, 'btn-danger': status.enabled, 'btn-muted': enabling}" ng-disabled="enabling" ng-click="toggle()">
                      <span ng-show="enabling"><i class="icon-circleselection spin"></i> Enabling</span>
                      <span ng-show="!status.enabled && !enabling">Enable</span>
                      <span ng-show="status.enabled && !enabling">Disable</span>
                    </button>
                  </div>

                  <div class="form-group">
                    <label for="enabled">Serial Device: </label>


                    <ul class="list-group bg-muted select-list">
                      <li class="list-group-item" style="cursor: pointer;" ng-repeat="d in devices" ng-click="config.serial_device = d" ng-class="{'list-group-item-success': config.serial_device == d}">
                        {{d}}
                      </li>
                    </ul>
                  </div>

                  <div class="form-group">
                    <label for="serial_baudrate">Serial Baudrate</label>
                    <input type="text" class="form-control" id="serial_baudrate" placeholder="Serial Baudrate" required="" ng-model="config.serial_baudrate">
                  </div>

                  <div class="form-group">
                    <label for="serial_databits">Serial Databits</label>
                    <input type="text" class="form-control" id="serial_databits" placeholder="Serial Databits" required="" ng-model="config.serial_databits">
                  </div>

                  <div class="form-group">
                    <label for="serial_stopbits">Serial Stopbits</label>
                    <input type="text" class="form-control" id="serial_stopbits" placeholder="Serial Stopbits" required="" ng-model="config.serial_stopbits">
                  </div>

                  <div class="form-group">
                    <label for="serial_parity">Serial Parity</label>
                    <input type="text" class="form-control" id="serial_parity" placeholder="Serial Parity" required="" ng-model="config.serial_parity">
                  </div>

                  <div class="form-group">
                    <label for="serial_flowcontrol">Serial Flowcontrol</label>
                    <input type="text" class="form-control" id="serial_flowcontrol" placeholder="Serial Flowcontrol" required="" ng-model="config.serial_flowcontrol">
                  </div>

                  <div class="form-group">
                    <label for="timeout">Timeout (ms)</label>
                    <input type="text" class="form-control" id="timeout" placeholder="Timeout (ms)" required="" ng-model="config.timeout">
                  </div>

                  <div class="form-group">
                    <label for="queue_timeout">Queue Timeout (ms)</label>
                    <input type="text" class="form-control" id="queue_timeout" placeholder="Queue Timeout (ms)" required="" ng-model="config.queue_timeout">
                  </div>

                  <div class="form-group">
                    <label for="delay">Delay (ms)</label>
                    <input type="text" class="form-control" id="delay" placeholder="Delay (ms)" required="" ng-model="config.delay">
                  </div>

                  <div class="form-group">
                    <label for="retries">Retries</label>
                    <input type="text" class="form-control" id="retries" placeholder="Retries" required="" ng-model="config.retries">
                  </div>

                  <div class="form-group">
                    <label for="enabled">Debug: </label>
                    <toggle value="config.debug" class="pull-right"></toggle>
                  </div>

                  <div class="form-group">
                    <label for="enabled">Modem Debug: </label>
                    <toggle value="config.modem_debug" class="pull-right"></toggle>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="save()"><i class="icon-savetodrive"></i> Save</button>
                  </div>

                </div>
              </uib-tab>
              <uib-tab index="1" heading="Database">
                <div class="panel"><div class="panel-body">
                  <p>
                    <button class="btn btn-primary btn-sm pull-right" ng-click="load_modem_database()" ng-disabled="db_loading || db_error" ng-class="{'btn-danger': db_error}">
                      <i class="icon-database" ng-hide="db_loading || db_error"></i>
                      <i class="icon-erroralt" ng-show="db_error"></i>
                      <i class="icon-circleselection spin" ng-show="db_loading"></i>
                      Load Database
                    </button>
                    Count: {{database.length}}
                  </p>
                  <p>
                    <ul class="list-group">
                      <li class="list-group-item" ng-repeat="record in database">
                        <i class="icon-uploadalt" ng-show="record.controller"></i>
                        <i class="icon-download-alt" ng-show="!record.controller"></i>
                        {{record.name || record.address}}<span ng-show="record.name"> ({{record.address}})</span>
                        <div><small>
                            <span ng-show="!record.controller">
                                When scene {{record.group}}, use on level of {{record.on_level / 255 * 100 | number: 0}}% in {{record.ramp_rate | insteonRate}}<span ng-show="record.button > 1"> and button {{record.button}}</span>
                            </span>
                            <span ng-show="record.controller">
                                Send scene {{record.group}} <span ng-show="record.button > 1">with button {{record.button}}</span>
                            </span>
                        </small></div>
                      </li>
                    </ul>
                  </p>
                </div></div>
              </uib-tab>
              <uib-tab index="2" heading="Linking">
                <div class="panel"><div class="panel-body">
                  <div class="well well-lg">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Link Type:</label>
                      <label><input type="radio" ng-model="linking.controller" ng-value="true" ng-disabled="link_waiting"> Controller</label>
                      <label><input type="radio" ng-model="linking.controller" ng-value="false" ng-disabled="link_waiting"> Responder</label>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Group:</label>
                      <select class="form-control" ng-model="linking.group" ng-options="scene.id as scene.address for scene in scenes" ng-disabled="link_waiting"></select>
                    </div>

                      <button class="btn btn-sm btn-primary" ng-click="start_linking(linking.controller, linking.group)" ng-hide="link_waiting" ng-disabled="link_waiting || link_error" ng-class="{'btn-danger': link_error}">
                        <i class="icon-link" ng-hide="link_waiting || link_error"></i>
                        <i class="icon-circleselection spin" ng-show="link_waiting"></i>
                        <i class="icon-erroralt" ng-show="link_error"></i>
                          Start Linking
                      </button>
                      <button class="btn btn-sm btn-muted" ng-click="cancel_linking()" ng-show="link_waiting" ng-disabled="!link_waiting" ng-class="{'btn-warning': link_waiting}">
                        <i class="icon-circleselection spin"></i>
                        Cancel</button>
                   </div>
                  <div class="well" ng-show="linking.device">
                    <h3><i class="icon-ok-sign text-success"></i> Device Linked</h3>
                    <div class="form-group">
                      <label for="address">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Name" readonly ng-model="linking.device.name" readonly>
                    </div>
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" placeholder="Address" readonly ng-model="linking.device.config.address" readonly>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">Device Cat</div>
                            <div class="col-xs-4">Sub Cat</div>
                            <div class="col-xs-4">Firmware</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">{{linking.device.config.device_cat | toHex}}</div>
                            <div class="col-xs-4">{{linking.device.config.device_subcat | toHex}}</div>
                            <div class="col-xs-4">{{linking.device.config.firmware | toHex}}</div>
                        </div>
                    </div>
                    <div class="form-group">

                      <button class="btn btn-sm btn-primary" ng-class="{'btn-danger': id_error, 'btn-success': id_success}" ng-disabled="id_loading || id_success || id_error" ng-click="idrequest()">
                          <i class="icon-circleselection spin" ng-show="id_loading"></i>
                          <i class="icon-circleselect" ng-show="id_success"></i>
                          <i class="icon-erroralt" ng-show="id_error"></i>

                          <i class="icon-tagalt-pricealt" ng-hide="id_loading || id_success || id_error"></i> ID Request
                      </button>
                      <button class="btn btn-sm btn-primary" ng-class="{'btn-danger': device_db_error}" ng-click="reload_database()" ng-disabled="device_db_loading">
                        <i class="icon-database" ng-show="!device_db_loading && !device_db_error"></i>
                        <i class="icon-circleselection spin" ng-show="device_db_loading"></i>
                        <i class="icon-erroralt" ng-show="device_db_error"></i>
                        Load Database
                      </button>
                    </div>
                    <ul class="list-group bg-muted select-list" style="height: 20em;">
                      <li class="list-group-item" style="cursor: pointer;" ng-repeat="record in linking.device.config.database | orderBy: 'name'" ng-show="record.used">
                        <div>
                          <i class="icon-uploadalt" ng-show="record.controller"></i>
                          <i class="icon-download-alt" ng-show="!record.controller"></i>
                            {{record.name || record.address}}<span ng-show="record.name"> ({{record.address}})</span>
                        </div>
                        <div><small>
                            <span ng-show="!record.controller">
                                When scene {{record.group}}, use on level of {{record.on_level / 255 * 100 | number: 0}}% in {{record.ramp_rate | insteonRate}}<span ng-show="record.button > 1"> and button {{record.button}}</span>
                            </span>
                            <span ng-show="record.controller">
                                Send scene {{record.group}} <span ng-show="record.button > 1">with button {{record.button}}</span>
                            </span>
                        </small></div>
                      </li>
                     </ul>
                  </div>
                </div></div>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>

  </div>
</div>
</div>

