<div class="modal-header"><h3>Edit Panel</h3></div>

<div class="modal-body">

    <form name="pinPanelFrm">
      <div class="form-group">
        <label for="user">User No.</label>
        <input type="number" class="form-control" id="user" placeholder="User No." required="true" ng-model="panel.user">
      </div>
      <div class="form-group">
        <label for="device">Device</label>
        <select-device value="panel.device" required="true" capabilities="['user_codes']" exclude="current"></select-device>
      </div>
    </form>
</div>


<div class="modal-footer">
    <button class="btn btn-warning btn-sm pull-left" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-sm" type="button" ng-click="save()" ng-disabled="pinPanelFrm.$invalid || !panel.device"><i class="icon-save-floppy"></i> Save</button>
</div>
