
<div class="container-fluid bg-muted" style="padding-bottom: 2em;">
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-xs-offset-1">
    <h2>Settings / Providers
           <div class="pull-right pointer"  ui-sref="^"><i class="glyphicon glyphicon-arrow-left"></i></div></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">

        <div class="panel panel-default">
          <div class="panel-body">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            <form name="settings">
              <h3 ng-show="loading">
                <i class="icon-circleselection spin"></i> Loading Providers
              </h3>
              <h3 ng-show="error">
                <i class="icon-erroralt text-danger"></i> Error Loading Providers
              </h3>
              <ul class="list-group" ng-hide="loading">
                <li class="list-group-item" ng-class="{'text-muted': !provider.installed}" style="cursor: pointer;" ng-click="providerSettings(provider)" ng-repeat="provider in providers | orderBy: ['-installed','enabled','name']">
                  <i class="icon-check text-success" ng-show="provider.enabled"></i>
                  <i class="icon-checkboxalt" ng-show="!provider.enabled"></i>
                  {{provider.name}}
                  <button class="btn btn-xs btn-danger pull-right" ng-show="provider.installed" ng-click="remove_provider(provider)" stop-event><i class="icon-trash"></i> Remove</button>
                  <button class="btn btn-xs btn-default pull-right" ng-show="!provider.installed" ng-click="install_provider(provider)" stop-event><i class="icon-software"></i> Install</button>
                </li>
              </ul>

              <div class="form-group">
                <button type="submit" class="btn btn-sm btn-default" ng-click="state.go('^')"><i class="glyphicon glyphicon-arrow-left"></i> Cancel</button>
              </div>
            </form>
          </div>
        </div>

  </div>
</div>
</div>

